.site-footer {
    background-color: $primaryColor;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: white;

    .footer-heading {
        padding: 3rem 0 0rem 7rem;
        font-size:20px;
        font-weight: 500;
    }

    .footer-content {
        display: flex;
        flex-wrap: wrap;
       gap: 5rem;
        justify-content: center;
        margin-bottom: 39px;
    margin-top: -34px;

        .content-detail {
            display: flex;
   
    align-items: center;
    gap: 1.5rem;
}
        
        p {
            font-weight: 300;
            // color: #fcd0c3;
            font-size:16px;
            
        }

        #email-id {  
    width: 244px;
    input[type="text"]{
    padding-bottom: 5px!important;
    padding-left: 20px!important;
    border-radius: 5px 5px 5px 5px;
    }
           
        }
       
        img {
            height:15px;
           // margin-left: 3px;
        }
    }

    hr {
        background-color: #ccc;
        border: 0;
        height: 1px;
       
        width: 100%;
    }

    .second-content-footer {
        display: flex;
        gap: 1.5rem;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin-right: 12rem;

        p {
            font-weight: 300;
           // color: #fcd0c3;
            font-size:15px;
            a {
                font-weight: 300;
                // color: #fcd0c3;
                 font-size:15px;
                 text-decoration: none;
            }
        }
    }
}


@media(max-width:980px) {
    .footer-content {
        flex-direction: column;
        padding-left: 3.5rem;
    }


    .second-content-footer {
        justify-content: center;
    }
}