.site-header {
    background-color: #FCD0C3;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 193px;
    font-weight: 500;
    opacity: 1;
    z-index: 1;
    transition: background-color 0.8s ease;
}

.inverted {
    background-color: rgba(208,168,162,255);
    backdrop-filter: blur(43px);
}

.main-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .wholistic-logo {
        width: 120px;
        padding-top: 2rem;

    }
}

.main-navigation li {
    padding: 2rem 2rem 0 2rem;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

.nav-menu * {
    align-items: center;

}

.nav-menu li a {
    font-size: 20px;
    color: black;
    font: normal normal 300 18px/22px Oswald;
}

.nav-menu li a:hover {
    color: rgb(83, 81, 81);
    border-bottom: 0.2px solid rgb(218, 96, 16);
}

.menu-icon {
    font-size: 1.5rem !important;
    color: red;
}

.hide-above-sm {
    color: red;
}

.search-btn {
    display: flex;

    &:before {
        content: "\f179";
        color: #f14946;
        font-family: dashicons;
        transform: rotateY(180deg);
        font-weight: 100;
        padding-right: 0.5rem;
    }

    a {
        visibility: hidden;
    }
}
.input::-webkit-input-placeholder {
    color: black;
    font-weight: bold;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
#search-icon {
    background-color: #FCD0C3;
    border: none;
    width: 300px;

    &:focus {
        outline: none;
    }
}

@media(max-width:600px) {
    .menu-menu-1-container {
        width: 87%;
        position: absolute;
        top: 154px;
        background-color: #fcd0c3;

        .nav-menu li {
            padding-top: 0;
        }

        .nav-menu li a {
            padding: 0.4rem;
        }

        .search-btn {
            display: none;
        }
    }

    #search-icon {
        background-color: #FCD0C3;
        border: none;
        width: 140px;
}
.wholistic-logo img {
    width:90%;
}
#search-sm {
    padding-left: 44px;
    padding-top: 10px;
}
}
@media (min-width:765px ) and (max-width:800px) {
    .nav-menu li {
        padding: 22px 30px 0 0;
    }
    #primary-menu {
        padding-left: 5rem;
    }
}

//tablet 

@media (min-width:850px) {
    .nav-menu li {
        padding: 0 3rem 0 0;
    }

    .current_page_item a {
        color: #FFECE5 !important;
        border-radius: 37px !important;
        background: #F14946 !important;
        padding: 4px 20px !important;
        //text-decoration: none;
    }
}
