
.site-header {
    background-color: #FCD0C3;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 193px;
    font-weight: 500;
    opacity: 1;
    z-index: 1;
}
.main-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // .dashicons-search-small {
    //     visibility: hidden;
    // }
}    
.nav-menu {
    display: flex;
    justify-content: center;  
}
.nav-menu * {
    align-items: center;
   // padding-top: 4rem;
}
.nav-menu li a{
   padding : 1.8rem;
   font-size: 20px;
   // margin: 8px;
    color:black;
    font: normal normal 300 21px/22px Oswald;
}
.nav-menu li a:hover{
    color:rgb(250, 234, 234);
    border-bottom: 1px solid rgb(218, 96, 16);
}
// .wholistic-logo {
//     width: 100px; 
//     img {
//         padding-top: 1.5rem;
//     }
// }
.menu-icon {
    font-size: 1.5rem !important;
    color: red;
}
.search-btn {
    display:flex;

    &:before {
        content: "\f179";
         color:rgb(218, 96, 16);
         font-family: dashicons;
         transform: rotateY(180deg);
         font-weight: 100;
    padding-right: 0.5rem;
    }

    a {
        visibility: hidden;
    }
}


 @media(max-width:770px) {
.menu-menu-1-container {
       width: 87%;
        position: absolute;
        top: 154px;
        background-color: #fcd0c3;
        .nav-menu  li{
           padding-top: 0;
        }
        .nav-menu li a{
            padding : 0.4rem;
    }
    .search-btn {
        display: none;
    }
    // .dashicons-search-small {
    //     visibility: visible;
    // }
} 
}
#page {
    margin-top: -2rem;
}
