#policy-page {
    font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;  
  .privacy-banner {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 490px;
        flex-wrap: wrap;
        justify-content: center;

        h1 {
            align-self: center;
            font-size: 4rem;
            text-align: center;
            font-weight: 400;
            color: #ffece5;
           // text-shadow: 0.1em 0.02em 0.09em rgb(0 0 0 / 40%);
    }
    }
    .borderLine {
        border-bottom: 10px solid #f14946;
    }

    .privacy-background {
        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
        background-position: 50%;
        padding: 60px 170px;
        h3 {
            text-transform: uppercase;
    font-size: 36px;
    color: #f14946;
    text-align: left;
        }
        h4 {
            margin: 15px 0;
        }

        p {
            text-align: left;
            font: normal normal 300 18px/30px Oswald;
            margin: 0;
            a {
                font: normal normal 300 18px/30px Oswald;
                font-weight: 700;
                color: #f14946;
                text-decoration: none;
            }
        }
    }

}
@media(max-width:500px) {
    #policy-page .privacy-background {
        padding: 12px 40px;
    }
}










