#product-page {
    .product-banner-img {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        height: 550px;
    }

    h1 {
        align-self: center;
        font-size: 5rem;
        color: white;
        font-size: 4rem;
        font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
        font-weight: 400;
    }

    .borderLine {
        border-bottom: 8px solid #f14946;
    }

    .curved-product-bg {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        align-items: center;
        height: 440px;
        padding-bottom: 3rem;

        .search-bar {
            width: 55%;
            padding: 0.4rem;
            border: 1px solid #fcd0c3;
        }
    }
p {
    font-size: 16px;
}
    .filter-buttons {
        display: flex;
        align-items: center;
        gap: 13px;
        flex-wrap: wrap;
        margin-top: 2rem;
        box-sizing: unset !important;
       
    button {
        padding: 6px 22px;
        background-color: #FFFFFF;
        border-radius: 5px;
        font-size: 16px;
        color:#88898D;
        border-width: 0;
        font-weight: 300;
    }
}
    .all-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3rem;

          .live_search {
            width: 17rem;
            margin-bottom: 2rem;

            h2:hover {
                cursor: pointer;
                color:#fcd0c3;

            }
            

            .product-text {
                font-weight: 300;
                font-size: 16px;
                line-height: 32px;
                padding: 0px 5px;
            }
            .star-icon {
                font-size: 15px;
                .review {
                    font-weight: 300;
                    font-size: 15px;
                }
            }
            }
        }
        @media(max-width:450px) {
            .product-banner-img{
                h1 {
                    font-size: 2.8rem;
                    text-align: center;
                }
            }
        }
    
    }