#the-science-page {
    .science-banner {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 590px;
        flex-wrap: wrap;
        justify-content: center;
    }

    h1 {
        align-self: center;
        font-size: 4rem;
        font-weight: 400;
        color: #ffece5;
    }

    .borderLine {
        border-bottom: 8px solid #f14946;
    }

    .first-block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        padding: 3rem 11rem;
    }

    .second-block {
        padding: 4rem 0;

        .logo {
            text-align: center;
        }

        h3 {
            text-align: center;
            font-size: 36px;
            color: #f14946;
            margin: 0.4rem;
            font-weight: 500;
        }

        .science-card {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2.5rem;
            padding: 2rem 0;

            .card {
                width: 300px;
                border: 1px solid grey;
                border-radius: 8px;
                box-shadow: 8px 8px #fcd0c3;
                width: 286px;
                height: 420px;
                text-align: center;
                p,h2 {
                    margin:0rem;
                    text-align: center;
                }
                img {
                    width: 100%;
                    height: 10rem;
                }
                h2 {
                    color: #f14946; 
                }
            }

        }

        .more-pages {
            text-align: center;

            button {
                padding: 0.2rem 0.4rem;
                border-color: #fcd0c3;
                box-shadow: 1px 1px 0px 0px #fcd0c3;
                background-color: white;
                font-size: 13px;
            }
        }

    }

    .third-block {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: center;
        padding:2rem 0;
        h3 {
            text-align: center;
            font-size: 36px;
            color: #f14946;
            margin: 0.4rem;
            font-weight: 500;
        }
        .third-block-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2.5rem;
            padding: 2rem 0;
        }

        .card {
            border: 1px solid lightgrey;
            border-radius: 8px;
            box-shadow: 8px 8px #fcd0c3;
            width: 295px;
            height: 372px;
            text-align: center;
            background-color: white;
            p,h2 {
                margin:0rem;
            }

            img {
                width: 100%;
                height: 10rem;
            }
            h2 {
                color: #f14946; 
            }
        }
        .more-pages {
            text-align: center;

            button {
                padding: 0.2rem 0.4rem;
                box-shadow: 1px 1px 0px 0px #f14946!important;
                border-color: #fff!important;
                background-color: hsl(17, 56%, 89%);
                font-size: 13px;
            }
           
        }

    }
    .fourth-block {
        display:flex;
        flex-direction: column;
        text-align: center;
        padding: 3rem;
        flex-wrap: wrap;
        h3 {
            font-size: 36px;
            color: #f14946;
            font-weight: 500;
        }
        .browse button{
            color: #fcd0c3;
            font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
            font-weight: 500;
            border-radius: 50px;
            background-color: #f14946;
              border-width: 0px;
              padding: 0.8rem;
        }
        button:hover {
            background-color: #fcd0c3;
            color: black;
            cursor: pointer;
        }
    }
    @media(min-width:300px) {
       .first-block {
        padding: 3rem 6rem;
       }
        }
    }
