#where-to-buy {
    .where-banner {
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 590px;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1 {
        align-self: center;
        color: white;
        font-size: 4rem;
        font-weight: 500;
        color: #ffece5;
    }

    .borderLine {
        border-bottom: 10px solid #f14946;
    }
    .map-block {
        padding-left: 8.5rem;
        padding-top: 3.5rem;
        p,b {
            font-size: 13px;
            line-height: 21px;
        }
        .map-first-block {
            background-color: rgb(244, 243, 243);
            display:flex;
            flex-wrap:wrap;
            gap: 16px;
            padding: 0.5rem;
    //width: 48rem;
            label {
                font-size: 12px;
            }
            #location {
                padding: 0;
            }
            select {
                font-size:14px;
                option{
                font-size:14px;
                }
            }

        }
    .map-second-block {
        display: flex;
        height: 500px;
        #map {
            margin-top: 0.5rem;
            color:#f14946;
        }
        .locations {
            overflow-y: scroll;
            margin: 0.5rem 0.2rem 0 0;
            width: 15rem;
            height: 17.5rem;
            .location-details {
                border-bottom: 1px dotted grey;
                padding: 0.8rem 0;
                p {
                    margin: 0;
                }
                .space {
                    height: 14px;
                }
                .direction {
                    color: #f14946;
                }
            }
           
        }
    }
}


    .last-block {
        display:flex;
        flex-direction: column;
        text-align: center;
        padding: 3rem;
        flex-wrap: wrap;
        background-color: #FFECE5;
        h3 {
            font-size: 36px;
            color: #f14946;
            font-weight: 500;
        }
        .browse button{
            color: #fcd0c3;
            font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
            font-weight: 500;
            border-radius: 50px;
            background-color: #f14946;
              border-width: 0px;
              padding: 0.8rem;
        }
    }
    @media(max-width:1030px) {
        .map-block {
            padding: 3rem 1rem 0 1rem;
            .map-first-block {
               // width:36rem;
            }
        }
        @media(max-width:430px) {
            .map-first-block {
               // width:370px;
            }
            .map-second-block{
                flex-direction:column;
            }
        }
    }
}