# BEGIN WP Hide & Security Enhancer
<IfModule mod_rewrite.c> 
RewriteEngine On 
RewriteBase /who/ 
#WriteCheckString:1660034785_49510
RewriteRule ^rewrite_test_1660034785_49510/? /who/wp-content/plugins/wp-hide-security-enhancer/include/rewrite-confirm.php [L,QSA]
</IfModule> 

# END WP Hide & Security Enhancer

# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /who/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /who/index.php [L]
</IfModule>

# END WordPress